/* Media Queries Manager */

@media screen  and (max-width : 76.6rem){
    .split {
        flex-direction: column;
        width: 80%;
    }

    .split-calc{
        width: 100%;
    }

    .reset {
        margin-top: 0;
    }

    .container {
        gap: .8rem
    }
}